<p id="notice"><%= notice %></p>

<h1><%= @company.name %></h1>

<table class="table">

    <thead>
	    <tr>
		    <th>Locations</th>
		    <th>Employees</th>
		    <th>Courses</th>
	    </tr>
    </thead>

		<tbody>
			<tr>
		    <% @company.locations.each do |location| %>
			     <td> <%= location.name %> </td>
			  <%end%>

			  <% @company.employees.each do |employee| %>
					  <td><%= employee.name %> </td>
			  <%end%>

			  <% @company.courses.each do |course| %>
					  <td>   <%= course.title %> </td>
			  <%end%>

			</tr>
	</tbody>
</table>

<%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-success btn-md' %> |
<%= link_to 'Create New Location', new_location_path, class: 'btn btn-success btn-md' %>
